@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  /* Hilangkan tombol print dan hal lain yang tidak perlu saat cetak */
  .no-print {
    display: none !important;
  }
}

.kwitansi-wrapper {
  max-width: 210mm;
  margin: 0 auto;
}

.kwitansi {
  page-break-inside: avoid;
}
